mat-sidenav-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  mat-sidenav {
    width: 650px;
    

    mat-toolbar{


        h2, .mat-icon-button{
            color: white;
        }
        background:#3f51b5;

        .mat-raised-button{
            margin-left: 15px;
            background: green;
        }
        .mat-button{
            background: #B71C1C;
            color: white;
        }
    }

    .formulario{
        margin: 0 30px
    }
  }

  mat-sidenav-content {
    mat-card {
      table {
        width: 100%;

        .mat-column-options{
            text-align: right;
        }
      }
      .panel-error{
        margin-top: 50px;
        text-align: center;
        h1 {
          color: #bababa;
          margin: 10px 0;
        }
        color: #e04545;
      }
      margin: 50px;
      .mat-button{
        background: #B71C1C;
        color: white;
    }
    }
  }
}
